*{margin:0; padding:0;}
body{margin:20px auto; max-width:500px; font-size:16px; line-height:24px;}
h1, h2, h3, h4, h5, h6, p, img{margin-bottom:10px;}
h1{font-size:4em; line-height:1em;}

section{position: relative;}

/* Mise en forme EDITO */
#edito{font-size:1.4em; line-height:1.2em; height:1200px;}
#edito h2{font-weight: normal; text-align: right;}
#edito .icono{width: 50%;}
#edito article.texte{width: 80%; position: absolute; left:20%; top:150px; background-color: white;}

/* Mise en forme PUB_140 */
#pub_150{margin:100px auto; padding:50px; font-family:monospace; font-size:2em; line-height:0.8em; border:10px solid black;}

/* Mise en forme UNIVERS_CODE */
#univers_code{padding:20px; font-size:1.2em; line-height:1.2em;}

/* Mise en forme FOOTER */
footer{margin-top: 100px; padding-top: 20px; border-top: 1px solid black; font-size:1em; line-height:1.2em;}
footer h2{font-size:1.2em; line-height:1em;}
