*{margin:0; padding:0;}
body{margin:20px auto; max-width:500px; font-size:16px; line-height:24px;}
h1, h2, h3, h4, h5, h6, p, img{margin-bottom:10px;}
h1{font-size:3em; line-height:1em;}

section{position: relative;}

/*Mise en forme édito*/
#edito{position:relative; overflow: hidden;}
#edito .icono{position:relative; width:50%;}
#edito .texte{position:relative; left:20%; top:-350px; width:80%; font-size:1.2em; line-height:1.2em; background-color:white;}

footer{position: relative; font-size: 1em; line-height: 1.2em;}
